# Visual Studio
.vs/
*.suo
*.user
*.userosf
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.log
*.bin
*.o
*.tlog
*.cache
*.exp
obj/
bin/

# Packages
packages/
*.nupkg
*.snupkg
*.vstx
*.vsi
*.vsix
.tools/

# Rider
.idea/

# Azure WebSites
*.publishsettings

# User-specific files
*.userprefs
*.vspscc
*.vssscc
*.local

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
publish/
.config/

# DotNet tool files
.config/dotnet-tools.json

# Ignorar configuraciones sensibles
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.QA.json

# Para los archivos de secretos de usuario real (si Secret Manager funciona)
.secrets/
.usersecrets/
*.usersecrets

# Archivos de documentación generados
# Si quieres subir los XML para que Swagger los use en GitHub Pages u otro host de docs:
# No los excluyas, pero asegúrate de que se generen en la carpeta correcta y se añadan a Git.
# Si no quieres subirlos, descomenta las siguientes líneas:
# *.xml # Esto excluiría VCashApp.xml
# bin/*/net*/VCashApp.xml # Excluye el archivo .xml generado en la carpeta de salida

# Carpetas de Data Protection (si las creas en la raíz del proyecto)
DataProtectionKeys/
DataProtectionKeysStable/