legend {
    font-size: var(--title-font-size);
    color: var(--text-color-main);
}

label {
    font-size: var(--smaller-font-size);
    color: var(--text-color-main);
}

hr {
    color: var(--text-color-main);
}

.form-container {
    width: 100%;
    box-shadow: 0 2px 24px var(--shadow-color);
    padding-inline: 1.5rem;
    border-radius: 1rem;
    transition: background-color .4s;
}

.title-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .title-container h5 {
        color: var(--text-color-main);
        font-size: var(--title-font-size);
    }

.card {
    width: 100%;
    position: static;
    box-sizing: border-box;
    background-color: var(--div-bg);
    border: none;
}

.card-header {
    background-color: #f7f7f7;
    text-align: center;
}

.card-body {
    height: 100%;
    padding: 0;
}

.form-container .card-body input[type="text"],
.form-container .card-body select {
    color: var(--text-color-main);
}

.form-group {
    margin-bottom: 1rem;
}

/* BUSQUEDA DESPLEGABLE EN REGISTRO DE EMPLEADOS */
.autocomplete-container {
    width: 100%;
    z-index: 100;
    position: relative;
}

.autocomplete-results {
    position: absolute;
    top: 100%; /* Debajo del input */
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    border: 1px solid #ced4da;
    border-top: none;
    background-color: #fff;
    max-height: 200px; /* Limita la altura del desplegable */
    overflow-y: auto; /* Agrega scroll si los resultados exceden maxHeight */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0.25rem 0.25rem; /* Bordes redondeados abajo */
}

.autocomplete-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

    .autocomplete-item:last-child {
        border-bottom: none;
    }

    .autocomplete-item:hover, .autocomplete-item.active { /* 'active' para navegación con teclado si se implementa */
        background-color: #e9ecef;
    }

.autocomplete-item-text {
    flex-grow: 1; /* Ocupa el espacio restante */
}

.autocomplete-item-details {
    font-size: 0.8em;
    color: #6c757d;
    margin-left: 10px; /* Espacio entre nombre y detalles */
}

.autocomplete-item-icon {
    width: 24px; /* Tamaño del icono */
    height: 24px;
    border-radius: 50%; /* Para que la imagen sea redonda si es de perfil */
    margin-right: 10px;
    object-fit: cover;
}

.autocomplete-results .no-results-message {
    padding: 0.5rem 1rem;
    color: #6c757d;
    text-align: center;
}

.submit-container,
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

    .submit-container .btn,
    .modal-footer .btn {
        border: none;
        padding: 5px 10px;
        width: 20%;
        color: var(--div-bg);
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }

    .submit-container .btn-primary,
    .modal-footer .btn-primary,
    .modal-footer .btn-warning {
        background: var(--first-color);
    }

    .submit-container .btn-danger,
    .submit-container .btn-exit,
    .modal-footer .btn-exit {
        background: var(--third-color);
    }

    .submit-container .btn-primary:hover {
        background: #e3e3e3;
        color: var(--first-color);
    }

    .submit-container .btn-danger:hover {
        background: #e3e3e3;
        color: var(--third-color);
    }

    .submit-container .btn-exit:hover {
        background: #e3e3e3;
        color: var(--third-color);
    }

.reg-preview-container {
    border-radius: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    bottom: 0;
}

.submit-container-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

    .submit-container-reg .btn {
        border: none;
        padding: 5px 10px;
        width: 20%;
        color: var(--div-bg);
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }

    .submit-container-reg .btn-primary {
        background: #239b56;
    }

    .submit-container-reg .btn-danger {
        background: var(--first-color);
    }

    .submit-container-reg .btn-exit {
        background: var(--third-color);
    }

    .submit-container-reg .btn-primary:hover {
        background: #e3e3e3;
        color: #239b56;
    }

    .submit-container-reg .btn-danger:hover {
        background: #e3e3e3;
        color: var(--first-color);
    }

    .submit-container-reg .btn-exit:hover {
        background: #e3e3e3;
        color: var(--third-color);
    }